INSTALLING PACKAGES AND DEPENDENCIES

In [1]:
install.packages("readr")
install.packages("dplyr")

upload <- file.choose()

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Step 1: Load the Dataset

In [3]:
library(readr)
library(dplyr)

df <- read.csv("/content/Mandi_data.csv")
head(df)

  State          District      Market      Commodity           Variety
1 Andhra Pradesh Chittor       Chittoor    Gur(Jaggery)        NO 2
2 Andhra Pradesh Chittor       Madanapalli Tomato              Local
3 Andhra Pradesh Chittor       Palamaner   Cauliflower         Cauliflower
4 Andhra Pradesh Krishna       Tiruvuru    Maize               Hybrid/Local
5 Andhra Pradesh Krishna       Tiruvuru    Paddy(Dhan)(Common) Sona
6 Andhra Pradesh Visakhapatnam Anakapally  Gur(Jaggery)        NO 3
  Grade Arrival_Date Min_x0020_Price Max_x0020_Price Modal_x0020_Price
1 FAQ   07/08/2025   3400            3500            3500
2 FAQ   07/08/2025   3800            5000            4500
3 FAQ   07/08/2025    700            1200            1000
4 FAQ   07/08/2025   2250            2350            2300
5 FAQ   07/08/2025   2500            2900            2700
6 FAQ   07/08/2025   3000            3480            3240

Step 2: Basic Dataset Info

In [4]:
# Dimensions
dim(df)

# Column names
colnames(df)

# Structure of dataset
str(df)

# Summary stats
summary(df)

# Missing values check
colSums(is.na(df))

[1] 13100    10

 [1] "State"             "District"          "Market"
 [4] "Commodity"         "Variety"           "Grade"
 [7] "Arrival_Date"      "Min_x0020_Price"   "Max_x0020_Price"
[10] "Modal_x0020_Price"

'data.frame':	13100 obs. of  10 variables:
 $ State            : chr  "Andhra Pradesh" "Andhra Pradesh" "Andhra Pradesh" "Andhra Pradesh" ...
 $ District         : chr  "Chittor" "Chittor" "Chittor" "Krishna" ...
 $ Market           : chr  "Chittoor" "Madanapalli" "Palamaner" "Tiruvuru" ...
 $ Commodity        : chr  "Gur(Jaggery)" "Tomato" "Cauliflower" "Maize" ...
 $ Variety          : chr  "NO 2" "Local" "Cauliflower" "Hybrid/Local" ...
 $ Grade            : chr  "FAQ" "FAQ" "FAQ" "FAQ" ...
 $ Arrival_Date     : chr  "07/08/2025" "07/08/2025" "07/08/2025" "07/08/2025" ...
 $ Min_x0020_Price  : num  3400 3800 700 2250 2500 ...
 $ Max_x0020_Price  : num  3500 5000 1200 2350 2900 ...
 $ Modal_x0020_Price: num  3500 4500 1000 2300 2700 ...

    State             District            Market           Commodity
 Length:13100       Length:13100       Length:13100       Length:13100
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character



   Variety             Grade           Arrival_Date       Min_x0020_Price
 Length:13100       Length:13100       Length:13100       Min.   :     0
 Class :character   Class :character   Class :character   1st Qu.:  2000
 Mode  :character   Mode  :character   Mode  :character   Median :  3400
                                                          Mean   :  4249
                                                          3rd Qu.:  5000
                                                          Max.   :100000
 Max_x0020_Price  Modal_x0020_Price
 Min.   :     0   Min.   :     1
 1st Qu.:  2500   1st Qu.:  2500
 Median :  4000   Median :  3800
 Mean   :  4891   Mean   :  4724
 3rd Qu.:  6000   3rd Qu.:  5800
 Max.   :120000   Max.   :120000

            State          District            Market         Commodity
                0                 0                 0                 0
          Variety             Grade      Arrival_Date   Min_x0020_Price
                0                 0                 0                 0
  Max_x0020_Price Modal_x0020_Price
                0                 0

Step 3: Rename Columns (remove messy x0020)

In [5]:
# Clean column names
colnames(df) <- c("State", "District", "Market", "Commodity",
                  "Variety", "Grade", "Arrival_Date",
                  "Min_Price", "Max_Price", "Modal_Price")

# Check new column names
colnames(df)

 [1] "State"        "District"     "Market"       "Commodity"    "Variety"
 [6] "Grade"        "Arrival_Date" "Min_Price"    "Max_Price"    "Modal_Price"

Step 4: Check for Missing

In [6]:
# Missing value summary
colSums(is.na(df))

       State     District       Market    Commodity      Variety        Grade
           0            0            0            0            0            0
Arrival_Date    Min_Price    Max_Price  Modal_Price
           0            0            0            0

Step 5: Detect Anomalies in Price Columns

In [7]:
summary(df$Min_Price)
summary(df$Max_Price)
summary(df$Modal_Price)

# Check zero or negative prices
df %>% filter(Min_Price <= 0 | Max_Price <= 0 | Modal_Price <= 0)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      0    2000    3400    4249    5000  100000

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      0    2500    4000    4891    6000  120000

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      1    2500    3800    4724    5800  120000

   State     District  Market             Commodity           Variety
1  Karnataka Belgaum   Sankeshwar         Maize               Hybrid/Local
2  Kerala    Ernakulam Malayattoor  VFPCK Banana              Nendra Bale
3  Kerala    Kottayam  Kuruppanthura      Cauliflower         Cauliflower
4  Karnataka Belgaum   Kudchi             Maize               Hybrid/Local
5  Karnataka Mandya    K.R. Pet           Paddy(Dhan)(Common) Paddy Coarse
6  Kerala    Alappuzha Chengannur         Capsicum            Other
7  Kerala    Alappuzha Chengannur         Cauliflower         Other
8  Kerala    Alappuzha Chengannur         Garlic              Garlic
9  Kerala    Alappuzha Chengannur         Lemon               Lemon
10 Kerala    Ernakulam Malayattoor  VFPCK Banana              Poovan
11 Kerala    Alappuzha Chengannur         Ginger(Green)       Green Ginger
12 Kerala    Alappuzha Chengannur         Mango (Raw-Ripe)    Mango - Raw-Ripe
13 Kerala    Ernakulam Malayattoor  VFPCK Banana              Palayamthodan
14 Kerala    Ernakulam Malayattoor  VFPCK Banana              Robusta
   Grade Arrival_Date Min_Price Max_Price Modal_Price
1  Local 07/08/2025      0      0          2350
2  Large 07/08/2025      0      0          4300
3  FAQ   07/08/2025   5000      0          6000
4  Local 07/08/2025      0      0          2300
5  Local 07/08/2025      0      0          1900
6  FAQ   07/08/2025      0      0          7500
7  FAQ   07/08/2025      0      0          4000
8  FAQ   07/08/2025      0      0         10000
9  FAQ   07/08/2025      0      0          5000
10 Large 07/08/2025      0      0          5800
11 FAQ   07/08/2025      0      0          6000
12 FAQ   07/08/2025      0      0          5000
13 Large 07/08/2025      0      0          3500
14 Large 07/08/2025      0      0          2100

Step 6: Handle Outliers

In [8]:
# Define IQR bounds
Q1 <- quantile(df$Modal_Price, 0.25)
Q3 <- quantile(df$Modal_Price, 0.75)
IQR <- Q3 - Q1

lower_bound <- Q1 - 1.5 * IQR
upper_bound <- Q3 + 1.5 * IQR

# Remove outliers
df_clean <- df %>%
  filter(Modal_Price >= lower_bound & Modal_Price <= upper_bound)

head(df)

  State          District      Market      Commodity           Variety
1 Andhra Pradesh Chittor       Chittoor    Gur(Jaggery)        NO 2
2 Andhra Pradesh Chittor       Madanapalli Tomato              Local
3 Andhra Pradesh Chittor       Palamaner   Cauliflower         Cauliflower
4 Andhra Pradesh Krishna       Tiruvuru    Maize               Hybrid/Local
5 Andhra Pradesh Krishna       Tiruvuru    Paddy(Dhan)(Common) Sona
6 Andhra Pradesh Visakhapatnam Anakapally  Gur(Jaggery)        NO 3
  Grade Arrival_Date Min_Price Max_Price Modal_Price
1 FAQ   07/08/2025   3400      3500      3500
2 FAQ   07/08/2025   3800      5000      4500
3 FAQ   07/08/2025    700      1200      1000
4 FAQ   07/08/2025   2250      2350      2300
5 FAQ   07/08/2025   2500      2900      2700
6 FAQ   07/08/2025   3000      3480      3240

Step 7: Standardize Categorical Values

In [9]:
# Convert text columns to Title Case & remove extra spaces
df_clean <- df_clean %>%
  mutate(State = trimws(State),
         District = trimws(District),
         Market = trimws(Market),
         Commodity = trimws(Commodity),
         Variety = trimws(Variety),
         Grade = trimws(Grade))

# Convert factors
df_clean$State <- as.factor(df_clean$State)
df_clean$Commodity <- as.factor(df_clean$Commodity)
head(df)

  State          District      Market      Commodity           Variety
1 Andhra Pradesh Chittor       Chittoor    Gur(Jaggery)        NO 2
2 Andhra Pradesh Chittor       Madanapalli Tomato              Local
3 Andhra Pradesh Chittor       Palamaner   Cauliflower         Cauliflower
4 Andhra Pradesh Krishna       Tiruvuru    Maize               Hybrid/Local
5 Andhra Pradesh Krishna       Tiruvuru    Paddy(Dhan)(Common) Sona
6 Andhra Pradesh Visakhapatnam Anakapally  Gur(Jaggery)        NO 3
  Grade Arrival_Date Min_Price Max_Price Modal_Price
1 FAQ   07/08/2025   3400      3500      3500
2 FAQ   07/08/2025   3800      5000      4500
3 FAQ   07/08/2025    700      1200      1000
4 FAQ   07/08/2025   2250      2350      2300
5 FAQ   07/08/2025   2500      2900      2700
6 FAQ   07/08/2025   3000      3480      3240

Saving Cleaned Data

In [10]:
write_csv(df_clean, "/content/Mandi_data_clean.csv")