INSTALLING PACKAGES AND DEPENDENCIES

In [ ]:
install.packages("readr")
install.packages("dplyr")

upload <- file.choose()

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Step 1: Load the Dataset

In [ ]:
library(readr)
library(dplyr)

df <- read.csv("/content/Mandi_data.csv")
head(df)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  State          District      Market      Commodity           Variety
1 Andhra Pradesh Chittor       Chittoor    Gur(Jaggery)        NO 2
2 Andhra Pradesh Chittor       Madanapalli Tomato              Local
3 Andhra Pradesh Chittor       Palamaner   Cauliflower         Cauliflower
4 Andhra Pradesh Krishna       Tiruvuru    Maize               Hybrid/Local
5 Andhra Pradesh Krishna       Tiruvuru    Paddy(Dhan)(Common) Sona
6 Andhra Pradesh Visakhapatnam Anakapally  Gur(Jaggery)        NO 3
  Grade Arrival_Date Min_x0020_Price Max_x0020_Price Modal_x0020_Price
1 FAQ   07/08/2025   3400            3500            3500
2 FAQ   07/08/2025   3800            5000            4500
3 FAQ   07/08/2025    700            1200            1000
4 FAQ   07/08/2025   2250            2350            2300
5 FAQ   07/08/2025   2500            2900            2700
6 FAQ   07/08/2025   3000            3480            3240

Step 2: Basic Dataset Info

In [ ]:
# Dimensions
cat("Dimensions of dataset:",dim(df),"\n")

# Column names
cat("\nColumn Names:\n",colnames(df))

# Structure of dataset
cat("\nStructure of dataset:\n",str(df))

# Missing values check
cat("\nMissing Values Check:\n",colSums(is.na(df)))

Dimensions of dataset: 13100 10

Column Names:
 State District Market Commodity Variety Grade Arrival_Date Min_x0020_Price Max_x0020_Price Modal_x0020_Price'data.frame':	13100 obs. of  10 variables:
 $ State            : chr  "Andhra Pradesh" "Andhra Pradesh" "Andhra Pradesh" "Andhra Pradesh" ...
 $ District         : chr  "Chittor" "Chittor" "Chittor" "Krishna" ...
 $ Market           : chr  "Chittoor" "Madanapalli" "Palamaner" "Tiruvuru" ...
 $ Commodity        : chr  "Gur(Jaggery)" "Tomato" "Cauliflower" "Maize" ...
 $ Variety          : chr  "NO 2" "Local" "Cauliflower" "Hybrid/Local" ...
 $ Grade            : chr  "FAQ" "FAQ" "FAQ" "FAQ" ...
 $ Arrival_Date     : chr  "07/08/2025" "07/08/2025" "07/08/2025" "07/08/2025" ...
 $ Min_x0020_Price  : num  3400 3800 700 2250 2500 ...
 $ Max_x0020_Price  : num  3500 5000 1200 2350 2900 ...
 $ Modal_x0020_Price: num  3500 4500 1000 2300 2700 ...

Structure of dataset:

Missing Values Check:
 0 0 0 0 0 0 0 0 0 0

Step 3: Rename Columns

In [ ]:
# Clean column names
colnames(df) <- c("State", "District", "Market", "Commodity",
                  "Variety", "Grade", "Arrival_Date",
                  "Min_Price", "Max_Price", "Modal_Price")

# Check new column names
colnames(df)

 [1] "State"        "District"     "Market"       "Commodity"    "Variety"
 [6] "Grade"        "Arrival_Date" "Min_Price"    "Max_Price"    "Modal_Price"

Step 4: Check for Missing

In [ ]:
# Missing value summary
colSums(is.na(df))

       State     District       Market    Commodity      Variety        Grade
           0            0            0            0            0            0
Arrival_Date    Min_Price    Max_Price  Modal_Price
           0            0            0            0

Step 5: Detect Anomalies in Price Columns

In [ ]:
summary(df$Min_Price)
summary(df$Max_Price)
summary(df$Modal_Price)

# Check zero or negative prices
df %>% filter(Min_Price <= 0 | Max_Price <= 0 | Modal_Price <= 0)

#Remove rows with invalid prices
df <- df %>% filter(Min_Price > 0 & Max_Price > 0 & Modal_Price > 0)

#Replace with NA and impute
df$Min_Price[df$Min_Price <= 0] <- NA
df$Min_Price[is.na(df$Min_Price)] <- median(df$Min_Price, na.rm = TRUE)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      1    2014    3400    4253    5000  100000

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      1    2500    4000    4897    6000  120000

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      1    2500    3800    4724    5800  120000

     State District Market Commodity Variety Grade Arrival_Date Min_Price
     Max_Price Modal_Price

Step 6: Handle Outliers

In [ ]:
# Define IQR bounds
Q1 <- quantile(df$Modal_Price, 0.25)
Q3 <- quantile(df$Modal_Price, 0.75)
IQR <- Q3 - Q1

lower_bound <- Q1 - 1.5 * IQR
upper_bound <- Q3 + 1.5 * IQR

# Remove outliers
df_clean <- df %>%
  filter(Modal_Price >= lower_bound & Modal_Price <= upper_bound)

head(df)

  State          District      Market      Commodity           Variety
1 Andhra Pradesh Chittor       Chittoor    Gur(Jaggery)        NO 2
2 Andhra Pradesh Chittor       Madanapalli Tomato              Local
3 Andhra Pradesh Chittor       Palamaner   Cauliflower         Cauliflower
4 Andhra Pradesh Krishna       Tiruvuru    Maize               Hybrid/Local
5 Andhra Pradesh Krishna       Tiruvuru    Paddy(Dhan)(Common) Sona
6 Andhra Pradesh Visakhapatnam Anakapally  Gur(Jaggery)        NO 3
  Grade Arrival_Date Min_Price Max_Price Modal_Price
1 FAQ   07/08/2025   3400      3500      3500
2 FAQ   07/08/2025   3800      5000      4500
3 FAQ   07/08/2025    700      1200      1000
4 FAQ   07/08/2025   2250      2350      2300
5 FAQ   07/08/2025   2500      2900      2700
6 FAQ   07/08/2025   3000      3480      3240

Step 7: Standardize Categorical Values

In [ ]:
# Convert text columns to Title Case & remove extra spaces
df_clean <- df_clean %>%
  mutate(State = trimws(State),
         District = trimws(District),
         Market = trimws(Market),
         Commodity = trimws(Commodity),
         Variety = trimws(Variety),
         Grade = trimws(Grade))

# Convert factors
df_clean$State <- as.factor(df_clean$State)
df_clean$Commodity <- as.factor(df_clean$Commodity)
head(df)

  State          District      Market      Commodity           Variety
1 Andhra Pradesh Chittor       Chittoor    Gur(Jaggery)        NO 2
2 Andhra Pradesh Chittor       Madanapalli Tomato              Local
3 Andhra Pradesh Chittor       Palamaner   Cauliflower         Cauliflower
4 Andhra Pradesh Krishna       Tiruvuru    Maize               Hybrid/Local
5 Andhra Pradesh Krishna       Tiruvuru    Paddy(Dhan)(Common) Sona
6 Andhra Pradesh Visakhapatnam Anakapally  Gur(Jaggery)        NO 3
  Grade Arrival_Date Min_Price Max_Price Modal_Price
1 FAQ   07/08/2025   3400      3500      3500
2 FAQ   07/08/2025   3800      5000      4500
3 FAQ   07/08/2025    700      1200      1000
4 FAQ   07/08/2025   2250      2350      2300
5 FAQ   07/08/2025   2500      2900      2700
6 FAQ   07/08/2025   3000      3480      3240

Saving Cleaned Data

In [ ]:
write_csv(df_clean, "/content/cleaned_data.csv")
cat("Dimensions of dataset:",dim(df_clean),"\n")

Dimensions of dataset: 12507 10