In [ ]:
install.packages("readr")
install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
library(readr)
library(dplyr)
df <- read.csv("/content/cleaned_data.csv")
head(df)
dim(df)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  State          District      Market      Commodity           Variety
1 Andhra Pradesh Chittor       Chittoor    Gur(Jaggery)        NO 2
2 Andhra Pradesh Chittor       Madanapalli Tomato              Local
3 Andhra Pradesh Chittor       Palamaner   Cauliflower         Cauliflower
4 Andhra Pradesh Krishna       Tiruvuru    Maize               Hybrid/Local
5 Andhra Pradesh Krishna       Tiruvuru    Paddy(Dhan)(Common) Sona
6 Andhra Pradesh Visakhapatnam Anakapally  Gur(Jaggery)        NO 3
  Grade Arrival_Date Min_Price Max_Price Modal_Price
1 FAQ   07-08-2025   3400      3500      3500
2 FAQ   07-08-2025   3800      5000      4500
3 FAQ   07-08-2025    700      1200      1000
4 FAQ   07-08-2025   2250      2350      2300
5 FAQ   07-08-2025   2500      2900      2700
6 FAQ   07-08-2025   3000      3480      3240

[1] 12507    10

SUMMARY

In [ ]:
summary(df)

    State             District            Market           Commodity
 Length:12521       Length:12521       Length:12521       Length:12521
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character



   Variety             Grade           Arrival_Date         Min_Price
 Length:12521       Length:12521       Length:12521       Min.   :    0
 Class :character   Class :character   Class :character   1st Qu.: 2000
 Mode  :character   Mode  :character   Mode  :character   Median : 3100
                                                          Mean   : 3576
                                                          3rd Qu.: 4820
                                                          Max.   :10530
   Max_Price      Modal_Price
 Min.   :    0   Min.   :    1
 1st Qu.: 2500   1st Qu.: 2481
 Median : 3875   Median : 3600
 Mean   : 4146   Mean   : 3993
 3rd Qu.: 5500   3rd Qu.: 5200
 Max.   :22000   Max.   :10700

DESCRIPTIVE STATISTICS (Numerical)

In [ ]:
install.packages("psych")
install.packages("skimr")

library(psych)
library(skimr)

# Detailed descriptive stats
describe(df[, c("Min_Price", "Max_Price", "Modal_Price")])

# Skim for quick overview (numeric + categorical)
skim(df)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘mnormt’, ‘GPArotation’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

            vars n     mean     sd       median trimmed  mad      min max
Min_Price   1    12521 3576.436 1987.493 3100   3404.429 1853.250 0   10530
Max_Price   2    12521 4146.335 2185.983 3875   3960.176 2038.575 0   22000
Modal_Price 3    12521 3993.292 2102.637 3600   3826.770 2075.640 1   10700
            range skew      kurtosis    se
Min_Price   10530 0.7788694  0.20826556 17.76176
Max_Price   22000 0.8673230  0.94958047 19.53562
Modal_Price 10699 0.6952954 -0.04213947 18.79078

── Data Summary ────────────────────────
                           Values
Name                       df
Number of rows             12521
Number of columns          10
_______________________
Column type frequency:
  character                7
  numeric                  3
________________________
Group variables            None

── Variable type: character ────────────────────────────────────────────────────
  skim_variable n_missing complete_rate min max empty n_unique whitespace
1 State                 0             1   3  17     0       25          0
2 District              0             1   4  25     0      369          0
3 Market                0             1   3  35     0      945          0
4 Commodity             0             1   3  32     0      168          0
5 Variety               0             1   3  24     0      317          0
6 Grade                 0             1   3   7     0        6          0
7 Arrival_Date          0             1  10  10     0        1          0

── Variable type: numeric ──────────────────────────────────────────────────────
  skim_variable n_missing complete_rate  mean    sd p0  p25  p50  p75  p100
1 Min_Price             0             1 3576. 1987.  0 2000 3100 4820 10530
2 Max_Price             0             1 4146. 2186.  0 2500 3875 5500 22000
3 Modal_Price           0             1 3993. 2103.  1 2481 3600 5200 10700
  hist
1 ▅▇▃▂▁
2 ▇▅▁▁▁
3 ▃▇▅▂▁

ERROR: Error in is.null(text_repr) || nchar(text_repr) == 0L: 'length = 17' in coercion to 'logical(1)'

**Frequency Tables for Categorical Variables**

In [ ]:
# State-wise frequency
table(df$State)

   Andhra Pradesh             Assam             Bihar        Chandigarh
               38               117                 5                11
      Chattisgarh               Goa           Gujarat           Haryana
               16                 3               530               358
 Himachal Pradesh Jammu and Kashmir         Karnataka            Kerala
              419                70                60               950
   Madhya Pradesh       Maharashtra         Meghalaya          Nagaland
              559               507                12                 9
           Odisha            Punjab         Rajasthan        Tamil Nadu
              279               473               164              5835
        Telangana           Tripura     Uttar Pradesh        Uttrakhand
              149                72              1464               198
      West Bengal
              209

In [4]:

# Commodity distribution
table(df$Commodity)

                           Ajwan                       Alsandikai
                               2                                2
                      Amaranthus                  Amla(Nelli Kai)
                             187                               69
                     Amphophalus                    Amranthas Red
                              19                                1
                           Apple      Arhar (Tur/Red Gram)(Whole)
                             112                               37
              Arhar Dal(Tur Dal)                         Ashgourd
                              21                              179
       Bajra(Pearl Millet/Cumbu)                           Banana
                              50                              274
                  Banana - Green                     Barley (Jau)
                             231                               17
                           Beans                         Beetroot
                             144                              182
     Bengal Gram Dal (Chana Dal)         Bengal Gram(Gram)(Whole)
                              10                              114
                    Betal Leaves            Bhindi(Ladies Finger)
                               7                              420
                    Bitter gourd    Black Gram (Urd Beans)(Whole)
                             287                               22
        Black Gram Dal (Urd Dal)                     Bottle gourd
                              14                              354
                         Brinjal                          buttery
                             381                                5
                         Cabbage                         Capsicum
                             297                              157
                          Carrot                      Castor Seed
                             218                               19
                     Cauliflower                  Chikoos(Sapota)
                             249                               66
                 Chilly Capsicum                        Chow Chow
                              13                              123
                   Cluster beans                             Cock
                             180                                1
                         Coconut                     Coconut Seed
                             179                                5
                       Colacasia                Coriander(Leaves)
                             129                              202
                 Corriander seed                           Cotton
                               9                               15
         Cowpea (Lobia/Karamani)                      Cowpea(Veg)
                               2                               94
                Cucumbar(Kheera)          Custard Apple (Sharifa)
                             288                               25
                       Drumstick                     Dry Chillies
                             206                                6
                    Duster Beans             Elephant Yam (Suran)
                               2                              112
                       Field Pea               Fig(Anjura/Anjeer)
                               8                                3
                        Firewood                             Fish
                               1                                1
         French Beans (Frasbean)                           Garlic
                              44                              107
                     Ginger(Dry)                    Ginger(Green)
                              19                              263
               Gram Raw(Chholia)                           Grapes
                               1                               15
                 Green Avare (W)                     Green Chilli
                              88                              412
       Green Gram (Moong)(Whole)       Green Gram Dal (Moong Dal)
                              53                                5
                      Green Peas                  Ground Nut Seed
                               9                                6
                       Groundnut                Groundnut (Split)
                              77                                1
            Groundnut pods (raw)                             Guar
                               1                               26
   Guar Seed(Cluster Beans Seed)                            Guava
                               6                              155
                    Gur(Jaggery)              Indian Beans (Seam)
                              44                               44
              Isabgul (Psyllium)                       Jack Fruit
                               2                               33
             Jamun(Narale Hannu)                   Jowar(Sorghum)
                               3                               22
                            Jute    Kabuli Chana(Chickpeas-White)
                               4                               15
             Karbuja(Musk Melon)                Kartali (Kantola)
                              15                                2
                      Knool Khol              Kodo Millet(Varagu)
                              75                                1
              Kulthi(Horse Gram)                       Lak(Teora)
                               1                                2
                 Leafy Vegetable                            Lemon
                               5                              267
           Lentil (Masur)(Whole)                             Lime
                              37                               45
                         Linseed            Little gourd (Kundru)
                               3                               31
               Long Melon(Kakri)                            Mahua
                               5                                2
                           Maize                            Mango
                             111                               93
                Mango (Raw-Ripe)               Marigold(Calcutta)
                             133                                3
                 Marigold(loose)                        Mashrooms
                               1                               19
                       Masur Dal                      Methi Seeds
                              10                                6
                   Methi(Leaves)                          Millets
                              12                                1
                    Mint(Pudina)             Mousambi(Sweet Lime)
                             165                               86
                         Mustard                        Neem Seed
                              66                                1
                           Onion                      Onion Green
                             490                              163
                          Orange Other green and fresh vegetables
                              10                                1
            Paddy(Dhan)(Basmati)              Paddy(Dhan)(Common)
                               3                               94
                          Papaya                     Papaya (Raw)
                             198                                6
                           Peach                   Pear(Marasebu)
                               1                               31
                        Peas cod                         Peas Wet
                               5                               18
                       Peas(Dry)          Pegeon Pea (Arhar Fali)
                               6                                3
                       Pineapple                             Plum
                              51                               12
          Pointed gourd (Parval)                      Pomegranate
                              48                               65
                          Potato                          Pumpkin
                             388                              340
                         Raddish             Ragi (Finger Millet)
                             213                                4
                          Rajgir                            Rayee
                               4                                1
                            Rice                 Ridgeguard(Tori)
                              92                              222
                     Rose(Local)                     Rose(Loose))
                               1                                1
                     Round gourd                    Season Leaves
                               5                                1
                   Seemebadnekai                         Seetapal
                               1                                4
    Sesamum(Sesame,Gingelly,Til)                       Snakeguard
                              25                              199
                           Soanf                         Soyabean
                               4                              105
                         Spinach                     Sponge gourd
                              38                               36
           Squash(Chappal Kadoo)                            Sugar
                               9                                5
            Surat Beans (Papadi)                 Suva (Dill Seed)
                               1                                3
                    Sweet Potato                    Sweet Pumpkin
                              79                               13
                  Tamarind Fruit                          Tapioca
                               1                               93
                        Taramira                   Tender Coconut
                               1                               64
                       Thondekai                            Tinda
                              85                                9
                          Tomato                         Turmeric
                             428                                3
                          Turnip                      Water Melon
                               8                               27
                           Wheat                       White Peas
                             301                                7
                   White Pumpkin                             Wood
                               1                                6
                             Yam                     Yam (Ratalu)
                               2                               68

**GROUPED SUMMARIES**

In [ ]:
# Average price per state
df %>%
  group_by(State) %>%
  summarise(
    mean_price = mean(Modal_Price, na.rm = TRUE),
    min_price  = min(Modal_Price, na.rm = TRUE),
    max_price  = max(Modal_Price, na.rm = TRUE),
    count = n(),
    .groups = "drop"   # <- drops grouping after summarise
  )

   State             mean_price min_price max_price count
1  Andhra Pradesh    3529.211    800.0    10500       38
2  Assam             2442.788    466.9     7600      117
3  Bihar             2216.000   1300.0     3200        5
4  Chandigarh        2727.273   1000.0     7000       11
5  Chattisgarh       2162.188   1600.0     4000       16
6  Goa               2176.667   1440.0     3000        3
7  Gujarat           3947.308    125.0    10250      530
8  Haryana           2965.712    600.0    10500      358
9  Himachal Pradesh  4144.749    700.0    10500      419
10 Jammu and Kashmir 4011.261    550.0    10500       70
11 Karnataka         2956.350    500.0    10000       60
12 Kerala            4590.201     49.0    10300      950
13 Madhya Pradesh    3938.175    400.0    10050      559
14 Maharashtra       3158.661      1.0    10250      507
15 Meghalaya         3300.000    750.0     9000       12
16 Nagaland          5000.000   2000.0     8100        9
17 Odisha            3881.254    750.0    10000      279
18 Punjab            3209.569    300.0    10500      473
19 Rajasthan         3314.787    300.0     8500      164
20 Tamil Nadu        4450.411   1000.0    10500     5835
21 Telangana         3761.362    400.0    10500      149
22 Tripura           4091.389    230.0     7950       72
23 Uttar Pradesh     3179.887    274.0    10700     1464
24 Uttrakhand        1957.879    300.0    10000      198
25 West Bengal       3945.167   1000.0    10600      209

In [ ]:
library(dplyr)

# Average price per commodity
df %>%
  group_by(Commodity) %>%
  summarise(
    mean_price = mean(Modal_Price, na.rm = TRUE),
    sd_price   = sd(Modal_Price, na.rm = TRUE),
    count = n(),
    .groups = "drop"
  )

    Commodity                     mean_price sd_price   count
1   Ajwan                          6425.000  2227.38636   2
2   Alsandikai                     4800.000  1979.89899   2
3   Amaranthus                     2856.684  1045.22505 187
4   Amla(Nelli Kai)                7200.725  1426.34077  69
5   Amphophalus                    5336.842   708.84141  19
6   Amranthas Red                    49.000          NA   1
7   Apple                          7309.984  2606.59224 112
8   Arhar (Tur/Red Gram)(Whole)    5919.000   803.61026  37
9   Arhar Dal(Tur Dal)            10115.238   262.95663  21
10  Ashgourd                       2273.743   653.39043 179
11  Bajra(Pearl Millet/Cumbu)      2298.420   307.21349  50
12  Banana                         3738.668  1643.31579 274
13  Banana - Green                 3151.649  1061.32533 231
14  Barley (Jau)                   2243.471   147.41952  17
15  Beans                          7011.653  1718.97835 144
16  Beetroot                       3820.879  1229.64231 182
17  Bengal Gram Dal (Chana Dal)    7540.000    76.48529  10
18  Bengal Gram(Gram)(Whole)       5998.149   805.81492 114
19  Betal Leaves                   7428.571  1902.37946   7
20  Bhindi(Ladies Finger)          3369.117  1386.16487 420
21  Bitter gourd                   4063.711  1793.59405 287
22  Black Gram (Urd Beans)(Whole)  6702.045  1466.35880  22
23  Black Gram Dal (Urd Dal)      10019.286   114.26786  14
24  Bottle gourd                   2030.783   916.46058 354
25  Brinjal                        2972.793  1600.58528 381
26  Cabbage                        2291.845   931.96355 297
27  Capsicum                       5639.904  1950.23605 157
28  Carrot                         5890.436  2068.57014 218
29  Castor Seed                    6279.474   346.83848  19
30  Cauliflower                    3377.920  1366.29003 249
⋮   ⋮                             ⋮          ⋮          ⋮
139 Seetapal                       4875.0000 1963.62760   4
140 Sesamum(Sesame,Gingelly,Til)   7995.6000  951.98880  25
141 Snakeguard                     3632.1608  889.27155 199
142 Soanf                          6257.5000  288.05381   4
143 Soyabean                       4597.0000  228.75205 105
144 Spinach                        1678.4737 1228.28135  38
145 Sponge gourd                   2110.0000  995.44749  36
146 Squash(Chappal Kadoo)          1761.1111  659.44000   9
147 Sugar                          4200.0000  126.88578   5
148 Surat Beans (Papadi)           7000.0000         NA   1
149 Suva (Dill Seed)               5711.6667 1483.46160   3
150 Sweet Potato                   3962.6582  942.12214  79
151 Sweet Pumpkin                  1280.7692  586.13795  13
152 Tamarind Fruit                10000.0000         NA   1
153 Tapioca                        3219.8925  595.41453  93
154 Taramira                       5600.0000         NA   1
155 Tender Coconut                 3242.9688  944.10734  64
156 Thondekai                      4861.1765 1041.18684  85
157 Tinda                          3711.1111 1608.72189   9
158 Tomato                         3974.2967 1285.54366 428
159 Turmeric                      10193.3333  389.56172   3
160 Turnip                         4250.0000 1685.22995   8
161 Water Melon                    2157.4074  752.52188  27
162 Wheat                          2619.9967  201.14737 301
163 White Peas                     3967.8571  320.70050   7
164 White Pumpkin                  1800.0000         NA   1
165 Wood                            508.3333   68.23977   6
166 Yam                            6600.0000 1979.89899   2
167 Yam (Ratalu)                   7980.8824 1901.45328  68
168 buttery                        2950.0000  873.09793   5

In [8]:
df <- df %>%
  mutate(Price_Spread = Max_Price - Min_Price)

In [9]:
summary(df$Price_Spread)
mean(df$Price_Spread, na.rm = TRUE)
sd(df$Price_Spread, na.rm = TRUE)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    0.0   120.5   400.0   570.9   600.0 14000.0

[1] 570.937

[1] 828.8065

**Spread analysis by Commodity or State**

In [10]:
# Average spread per commodity
df %>%
  group_by(Commodity) %>%
  summarise(avg_spread = mean(Price_Spread, na.rm = TRUE),
            max_spread = max(Price_Spread, na.rm = TRUE),
            min_spread = min(Price_Spread, na.rm = TRUE),
            count = n())

    Commodity                     avg_spread max_spread min_spread count
1   Ajwan                         1656.00000  2500      812          2
2   Alsandikai                     350.00000   500      200          2
3   Amaranthus                     439.57219  1900        0        187
4   Amla(Nelli Kai)                695.65217  2000        0         69
5   Amphophalus                    636.84211  2500        0         19
6   Amranthas Red                    2.00000     2        2          1
7   Apple                         2517.02732 14000        0        112
8   Arhar (Tur/Red Gram)(Whole)    448.70270  2250        0         37
9   Arhar Dal(Tur Dal)             217.14286   800       25         21
10  Ashgourd                       314.52514  1500        0        179
11  Bajra(Pearl Millet/Cumbu)      425.86000  1465        0         50
12  Banana                         620.54745  4500        0        274
13  Banana - Green                 374.50216  2000        0        231
14  Barley (Jau)                    70.94118   200        0         17
15  Beans                          732.63889  5000        0        144
16  Beetroot                       603.57143  4000        0        182
17  Bengal Gram Dal (Chana Dal)    169.50000   260       90         10
18  Bengal Gram(Gram)(Whole)       443.07018  4005        0        114
19  Betal Leaves                   714.28571  2000        0          7
20  Bhindi(Ladies Finger)          469.27381  3000        0        420
21  Bitter gourd                   503.93031  2000        0        287
22  Black Gram (Urd Beans)(Whole)  820.45455  3000        0         22
23  Black Gram Dal (Urd Dal)       165.00000   400       20         14
24  Bottle gourd                   413.99836  4500        0        354
25  Brinjal                        521.43832  4200        0        381
26  Cabbage                        372.67677  2000        0        297
27  Capsicum                       693.66242  4500        0        157
28  Carrot                         680.50459  3200        0        218
29  Castor Seed                    255.78947  1100        0         19
30  Cauliflower                    623.31325  3500        0        249
⋮   ⋮                             ⋮          ⋮          ⋮          ⋮
139 Seetapal                      2475.00000 6500          0         4
140 Sesamum(Sesame,Gingelly,Til)  2638.96000 5195          0        25
141 Snakeguard                     426.13065 2000          0       199
142 Soanf                         1380.00000 2695          0         4
143 Soyabean                       680.48571 3167          0       105
144 Spinach                        357.44737 1000          0        38
145 Sponge gourd                   333.61111 1500          0        36
146 Squash(Chappal Kadoo)          633.33333 2700          0         9
147 Sugar                           98.00000  200          0         5
148 Surat Beans (Papadi)          6000.00000 6000       6000         1
149 Suva (Dill Seed)               566.66667 1450          0         3
150 Sweet Potato                   448.10127 2500          0        79
151 Sweet Pumpkin                  259.23077  700          0        13
152 Tamarind Fruit                1000.00000 1000       1000         1
153 Tapioca                        393.54839 1000          0        93
154 Taramira                       200.00000  200        200         1
155 Tender Coconut                 556.25000 1600          0        64
156 Thondekai                      472.94118 1500          0        85
157 Tinda                          888.88889 3000          0         9
158 Tomato                         664.13084 6000          0       428
159 Turmeric                      1003.33333 1400        750         3
160 Turnip                         575.00000 1000        500         8
161 Water Melon                    433.33333 1000          0        27
162 Wheat                          138.88704  850          0       301
163 White Peas                     166.42857  300         40         7
164 White Pumpkin                  200.00000  200        200         1
165 Wood                            55.83333  120         20         6
166 Yam                            750.00000 1000        500         2
167 Yam (Ratalu)                   814.70588 8500          0        68
168 buttery                          5.00000   25          0         5

In [11]:


# Average spread per state
df %>%
  group_by(State) %>%
  summarise(avg_spread = mean(Price_Spread, na.rm = TRUE),
            max_spread = max(Price_Spread, na.rm = TRUE),
            count = n())

   State             avg_spread max_spread count
1  Andhra Pradesh     826.3158   2500.00     38
2  Assam              395.9194   3700.00    117
3  Bihar              296.0000    500.00      5
4  Chandigarh        1518.1818   3000.00     11
5  Chattisgarh        139.1875    600.00     16
6  Goa                  0.0000      0.00      3
7  Gujarat           1018.8951   8500.00    530
8  Haryana            817.9330   8000.00    358
9  Himachal Pradesh  1222.6730  14000.00    419
10 Jammu and Kashmir  727.8151   2647.06     70
11 Karnataka          822.5500   3400.00     60
12 Kerala             614.5747   9000.00    950
13 Madhya Pradesh     681.7406   8820.00    559
14 Maharashtra       1161.6410  13300.00    507
15 Meghalaya          700.0000   1600.00     12
16 Nagaland           555.5556   1000.00      9
17 Odisha             477.4910   4000.00    279
18 Punjab             874.1184  10000.00    473
19 Rajasthan          710.6646   6000.00    164
20 Tamil Nadu         485.2089   5000.00   5835
21 Telangana          402.4564   7200.00    149
22 Tripura            368.1944   2000.00     72
23 Uttar Pradesh      175.6127   2000.00   1464
24 Uttrakhand         678.5606   4000.00    198
25 West Bengal        275.1435   1500.00    209